/* 전체 페이지를 뷰포트의 크기에 맞추기 위한 스타일 */
@import url('./KeyColor.css');

.waitroom-page-wrapper {
    width: 100vw;
    min-width: 1050px;
    height: 100vh;
    /* height 값은 이미지 에셋 추가후 생각하자 */
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
}

.waitroom-banner-top {
    width: 100vw;
    min-width: 1050px;
    position: fixed;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--hard-color-black);
}

.waitroom-banner-logo {
    background-color: white;
}

.waitroom-banner-logo img{
    width: 200px;
}

.waitroom-banner-info-wrapper {
    display: flex;
    flex-direction: row;

    background-color: var(--hard-color-grey);
    padding: 15px 50px;
    border-radius: 8px;
    position: relative;
    left: 50%;
}

.waitroom-banner-lock{
    width: 35px;
    height: 35px;
    background-color: var(--hard-color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
}

.waitroom-banner-lock img {
    width: 70%;
    height: 70%;
}

.waitroom-content-wrapper {
    display: flex;
    /* position: absolute; */
    width: 100vw;
    min-width: 1050px;
    height: 100vh;
    overflow: hidden;
    /* margin-top: 140px; */
}

.waitroom-content {
    /* 사이징, 양식 */
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 1050px;
    height: calc(100vh + 400px);
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    /* 그림자 */
    box-shadow: 0px 18px 15px 5px rgba(0,0,0,0.3);
    /* 위치 포지셔닝 */
    top: -400px;
    padding-top: 500px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    padding-right: 10px; padding-left: 10px;
}

.waitroom-content-left-wrapper {
    flex: 2;
    height: 580px;
    min-width: 600px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
}

.waitroom-left-user-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    height: 400px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    
    border: 3px dashed rgb(232, 232, 232);
}

.waitroom-left-user-card {
    box-sizing: border-box;
    height: 90px;
    width: 85%;
    border-radius: 4px;
    display: flex;
    overflow: hidden;

    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.2);
}

.waitroom-card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    width: 90px;
    height: 90px;
    background-color: var(--hard-color-grey);
    color: var(--hard-color-black);

    box-sizing: border-box;
}

.waitroom-card-info-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.waitroom-card-info-nickname {
    background-color: var(--hard-color-black);
    height: 30px;
    width: 100%;
    color: var(--hard-color-white);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 50px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.waitroom-card-icon-wrapper {
    display: flex;
    padding-left: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.waitroom-card-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.waitroom-card-icon p {
    color: var(--hard-color-black);
    font-weight: bold;
    font-size: 10px;
}

.waitroom-card-icon img{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

/* 입장하기 버튼 hover 시 스타일 변경 */
.waitroom-card-title, .waitroom-card-number {
    transition: 0.3s ease-in-out;
}

.waitroom-card-number {
    background-color: var(--hard-color-grey);
}
.waitroom-card-number.waitroom-ready-number {
    color: var(--hard-color-green);
    color: #fff;
    text-shadow:
        0 0 3px #b6b6b6,   /* 기본 그림자 */
        0 0 5px #b6b6b6,      /* 작은 범위의 첫 번째 네온 효과 */
        0 0 10px #0fa,     /* 작은 범위의 두 번째 네온 효과 */
        0 0 20px #0fa,     /* 중간 범위의 네온 효과 */
        0 0 40px #0fa;     /* 가장 큰 범위의 네온 효과 */
}

.waitroom-ready-indicator {
    padding: 10px 20px;
    background-color: var(--hard-color-grey);
    border-radius: 8px;
    font-weight: bold;
    font-family: inherit;
    color: var(--hard-color-black);
    transition: 0.3s ease-in-out;
}

.waitroom-ready-indicator.ready-indicator {
    color: var(--hard-color-green);
    color: #fff;
    text-shadow:
        0 0 3px #b6b6b6,   /* 기본 그림자 */
        0 0 5px #b6b6b6,      /* 작은 범위의 첫 번째 네온 효과 */
        0 0 10px #0fa,     /* 작은 범위의 두 번째 네온 효과 */
        0 0 20px #0fa,     /* 중간 범위의 네온 효과 */
        0 0 40px #0fa;     /* 가장 큰 범위의 네온 효과 */
}

.waitroom-content-right-wrapper {
    flex: 1;
    min-width: 300px;
    height: 580px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1);
}

.waitroom-button-leave {
    width: 60px;
    height: 60px;
}

.waitroom-button-leave img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}