@import url('./KeyColor.css');

.nav-image {
    height: 80px;
    background-color: aquamarine;
}

.nav-logo {
    background-color: grey;
    height: 50px;
    width: 100px;
    margin-left: 20px;    
}

.nav-logo-large {
    background-color: grey;
    height: 50px;
    width: 100px;
    margin-left: 5px;    
}