@import url('./KeyColor.css');

.nav-image {
    height: 80px;
    width: 100%;
}

.nav-image img {
    height: 120px;
    width: inherit;
    object-fit: fill;
}

.nav-logo {
    height: 50px;
    width: 130px;
    margin-left: 20px;    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: inherit;
    height: auto;
    object-fit: cover;
}

.nav-logo-large {
    height: 50px;
    width: 130px;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-large img {
    width: inherit;
    height: auto;
    object-fit: cover;
}