@import url('./KeyColor.css');

.nav-image {
    height: 80px;
    width: 100%;
}

.nav-image img {
    height: 120px;
    width: inherit;
    object-fit: fill;
}

.nav-logo {
    background-color: grey;
    height: 50px;
    width: 100px;
    margin-left: 20px;    
}

.nav-logo-large {
    background-color: grey;
    height: 50px;
    width: 100px;
    margin-left: 5px;    
}