/* 운동방 css 수정 - 지웅 */
/* 운동방 전체 틀 */
.training {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "header header header header header header"
        "training-frame training-frame training-frame training-frame training-frame training-frame"
        "training-frame training-frame training-frame training-frame training-frame training-frame"
        "training-frame training-frame training-frame training-frame training-frame training-frame"
        "training-frame training-frame training-frame training-frame training-frame training-frame"
        "training-frame training-frame training-frame training-frame training-frame training-frame"
        ;
    /* margin: 10px;
    min-width: 1200px; */
    /* background-color: aquamarine; */
    /* border: 5px solid black; */
    /* min-height: 1200px; */
}

/* 위쪽 배치(타이머 있을 예정) */
.training-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* background-color: azure; */
}

/* 비디오, 전체 전투력, 용사 gif */
.training-frame {
    grid-area: training-frame;
    /* box-sizing: border-box; */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "video-frame video-frame video-frame progress-bar soldier-box soldier-box"
        "video-frame video-frame video-frame progress-bar soldier-box soldier-box"
        "video-frame video-frame video-frame progress-bar soldier-box soldier-box "
        "video-frame video-frame video-frame progress-bar soldier-box soldier-box"
        "video-frame video-frame video-frame progress-bar soldier-box soldier-box "
        ;
    /* width: 100%;
    height: 80%; */
    /* flex-direction: column; */
    /* border: 10px solid green; */
}

/* 휴식시간, 정산시간 때 사용할  */
.background {

}

/* 비디오 프레임 */
.video-frame {
    grid-area: video-frame;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
        "my-video"
        "other-video";
    gap: 10px;
    padding: 10px;
}

.other-video {
    grid-area: other-video;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
}

.other-video > div {
    /* border: 5px blue solid; */
    /* width: 200px; */
}

.my-video {
    grid-area: my-video;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-box {
    grid-area: progress-bar;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    /* background-color: lightslategray; */
}

.soldier-box {
    grid-area: soldier-box;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "round-box-frame round-box-frame"
    "round-box-frame round-box-frame"
    "round-box-frame round-box-frame"
    "soldier-gif soldier-gif"
    "soldier-gif soldier-gif"
    ;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    /* width: 30%; */
    /* background-color: goldenrod; */
}

.round-box-frame {
    grid-area: round-box-frame;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.round-box {
    width: 120%;
    height: 40px;
    background-color: #3f4c6b; /* 기본 배경 색상 */
    color: white;
    margin-top : 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .round-box.active {
    background-color: #028d02; /* 현재 라운드의 운동을 초록색으로 표시 */
  }

.soldier-gif {
    grid-area: soldier-gif;
    width: 100%;
    height: 60%;
    padding-top: 20%;
    object-fit: contain;
}

.start-button {
    width: 120%;
    height: 40px;
    margin: 10px 0;
    background-color: #ffbf00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* 휴식 시간 css */
.restTime {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.restTime-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.restTime-frame {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.restTime-video {
    flex: 2;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restTime-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restTime-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;
    font-size: 20px;
    font-weight: bold;
}

.rest-gif {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
}
